:root{
    --input-font-size: 24px;
}

@font-face {
    font-family: sephir;
    src: url(fonts/Sephir.otf);
}

.title {
    font-family: sephir;
    font-size: 64px;
    text-align: center;
}

.subtitle {
    font-family: sephir;
    font-size: 32px;
    text-align: center;
    color: rgb(88, 87, 87);
}

.fade-in {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

input{
    text-align: center;
    font-size: var(--input-font-size);
}

#book-genre{
    height: 48px;
    border-radius: 100px;
}

#book-genre::placeholder{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: var(--input-font-size);
    text-align: center;
}

#search-button{
    position: absolute;

    left: 960px;
    width: 40px;
    height: 40px;

    background: none;
    border: none;

    background-image: url(icons/search.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

#search-button:hover{
    cursor: pointer;
}

.genre-input-container{
    position: relative;
    height: 200px;
    text-align: center;

    margin-top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.center-input{
    display: block;
    margin: 0 auto;
}

.banner-container{
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: auto;
}

.banner{
    border-radius: 100px;

    padding: 10px;
}

@keyframes fadeInAnimation{
    0%{
        transform: translateX(-150px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.books-container{
    width: calc(100% - 40px);
    height: calc(100% - 40px);

    margin: 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.book-container{
    background-color: rgb(219, 219, 219);

    width: 500px;
    height: 600px;

    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.book-container:hover{
    background-color: rgb(195, 194, 194);
}

.thumbnail{
    width: 40%;
    height: 40%;
}

.description{

}



